v-app(dark)
    authenticatedNavbar(app v-if="this.$auth.isAuthenticated()")
    notAuthenticatedToolbar(app v-else)
    v-content
        v-container(fluid)
            router-view
    footerComponent(app)