v-layout
    v-flex(xs8 md6 mx-auto)
        v-card
            v-card-title(primary-title)
                h3 User ID: {{ user.id }}
            v-card-text
                p {{ user.name }}
                p {{ user.email }}